@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --azul-dnc: #0c70f2;
    --preto-dnc: #303030;
    --cinza-dnc: #c9c9c9;

    --fonte-padrão: 'Inter';
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.6) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    background-repeat: no-repeat;
}

#principal {
    width: 100%;
    height: 100px;
    background-color: var(--preto-dnc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bababa;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    margin-left: 5px;

}

#principal div a {
    font-family: var(--fonte-padrão);
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}

#principal div a:hover {
    color: var(--cinza-dnc);
}

#principal button {
    margin-right: 10px;
    background-color: var(--azul-dnc);
    border: 0;
    height: 40px;
    width: 80px;
    font-family: var(--fonte-padrão);
    font-size: 20px;
    font-weight: 600;
    color: white;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;

}

/*Sessão Principal*/

section {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
}

header {
    color: white;
    font-family: var(--fonte-padrão);
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 20px;

}

header h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 100px;
}

/*para colocar o marca texto preto*/
header .invert {
    background-color: black;
    font-weight: bold;
    padding: 5px;
}

/*Formulário*/
form {
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 30px;
    font-weight: 600;
    width: 600px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;

}

form input {
    border-radius: 10px;
    height: 30px;
    border: none;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

form label {
    margin: 10px, 0 10px, 0;
}

form input::placeholder {
    color: rgba(57, 57, 57, 0.5);
}

.checkbox-itens label {
    font-size: 25px;
}

.checkbox-itens {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

input[type="checkbox"] {
    transform: scale(1.6);
    cursor: pointer;
}

input[type="submit"] {
    background-color: rgba(12, 112, 242, 0.9);
    width: 100%;
    height: 56px;
    font-size: 32px;
    color: white;
    margin-top: 80px;
    box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}

/*Footer*/

footer {
    width: 100%;
    background-color: var(--azul-dnc);

}

footer .linha1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul {
    list-style: none;
    margin: 0px;
    padding: 0;


}
footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

footer h5 {
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 20px;
    font-family: var(--fonte-padrão);
    background-color: var(--preto-dnc);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}


footer ul li {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
    font-family: var(--fonte-padrão);
    margin: 20px 0 20px 0;
}

footer ul li a {
    color: white;
    text-decoration: none;

}

footer ul li a:hover {
    color: var(--cinza-dnc);
}

footer .endereco {
    font-weight: 600;
    font-size: 18px;
    font-family: var(--fonte-padrão);
    color: white;
    text-align: center;
    width: 18%;

}

footer .linha2 {
    height: 35px;
    display: flex;
    justify-content: center;
    padding: 10px;

}

footer .linha2 a {
    font-family: var(--fonte-padrão);
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 5px;

}

footer .linha2 a:hover {
    color: var(--cinza-dnc);

}

footer .linha2 a:first-child {
    border-right: 3px solid white;
}